{
    "extends": ["@imaginary-cloud/react"],
    "settings": {
        "import/resolver": {
          "node": {
            "extensions": [".js", ".jsx"],
            "moduleDirectory": ["src", "node_modules"]
          }
        }
      }
  }